.form {
  border: 3px solid black;
  width: fit-content;
  height: fit-content;
  background-color: rgb(240, 108, 108);
  justify-content: center;
  color: white;
}


#btn1 {
  color: rgb(236, 144, 144);
  font-size: 40px;
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
  
}
