.form {
  outline: 5px solid black;
  width: fit-content;
  background-color: rgb(240, 108, 108);
  margin: auto;
  color: white;
  border-radius: 10px;
  font-size :35px; 
  padding: 20px;
}

#btn1 {
  color: rgb(236, 144, 144);
  font-size: 40px;
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
}
.btn1{
    margin: auto;
    width: fit-content;
}
